{% extends 'index.html' %}
{% load static %}

{% block title %}
    NataShop | Contact
{% endblock %}

{% block content %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="{% url 'main_page' %}">Головна</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Контакт</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-5 text-black">Зв'язатися</h2>
          </div>
          <div class="col-md-12">

            <form action="{% url 'contact' %}" method="post">
              {% csrf_token %}
              <div class="p-3 p-lg-5 border">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_fname" class="text-black">Ім'я <span class="text-danger">*</span></label>
                    <span>{{ letter_form.first_name }}</span>
                  </div>
                  <div class="col-md-6">
                    <label for="c_lname" class="text-black">Прізвище <span class="text-danger">*</span></label>
                    <span>{{ letter_form.last_name }}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_email" class="text-black">Email <span class="text-danger">*</span></label>
                    <span>{{ letter_form.email }}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_subject" class="text-black">Тема </label>
                     <span>{{ letter_form.subject }}</span>
                  </div>
                </div>
    
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_message" class="text-black">Текст </label>
                     <span>{{ letter_form.message }}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Відправити">
                  </div>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>

    <div class="site-section bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="text-white mb-4">Мессенджери, соціальні мережі, email, телефон</h2>
          </div>
          <div class="col-lg-4">
            <div class="p-4 bg-white mb-3 rounded">
              <span class="d-block text-black h6 text-uppercase"></span>
				<p><a href="viber://chat?number=%2B380671472942"><img src="{% static 'images/viber.png' %}" alt=""/>viber</a>
               <a href="https://wa.me/380671472942/?text="><img src="{% static 'images/whatsapp.png' %}" alt=""/>whatsapp</a>
               <a href="tg://msg?text=<?php echo urlencode('<Hello>'); ?>&to=<?%2B380504717811>"><img
                       src="{% static 'images/telegram.png' %}" alt=""/>telegram</a>
              <p class="mb-0"></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="p-4 bg-white mb-3 rounded">
              <span class="d-block text-black h6 text-uppercase"></span>
              <p class="mb-0"><a href="https://www.instagram.com/p/CqsOTPYNA0f/?igshid=MjljNjAzYmU%3D">
                  <img src="{% static 'images/insta-48.png' %}" alt=""/>Instagram</a>
                  <a href="https://www.facebook.com/people/maior_estetic/100066454517446/">
                  <img src="{% static 'images/facebook-48.png' %}" alt=""/>Facebook</a>
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="p-4 bg-white mb-3 rounded">
              <span class="d-block text-black h6 text-uppercase"></span>
              <p class="mb-0"><a href="https://www.facebook.com/people/maior_estetic/100066454517446/">
                  <img src="{% static 'images/facebook-48.png' %}" alt=""/></a>
                Тел:+38 (066) 778-24-30 <a href="tel:+380671472942"><img src="{% static 'images/phone.png' %}" alt=""/></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>

{% endblock %}