{% extends 'index.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    NataShop | Home
{% endblock %}
{% block content %}


    <div class="site-blocks-cover" style="background-image: url({% static 'images/for_banner.jpg' %});">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h2 class="sub-title">Ефективні засоби догляду, Нові надходження кожен день</h2>
              <h1>Ласкаво просимо</h1>
              <p>
                <a href="{% url 'shop:shop' %}" class="btn btn-primary px-5 py-3">Купуй зараз</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch section-overlap">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-primary h-100">
              <a href="{% url 'shop:brand_products' brands.first.slug %}" class="h-100">
                <h5>Holy<br>Land</h5>
                <p>
                  Краса - то святе!
                  <strong></strong>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap h-100">
              <a href="{% url 'shop:brand_products' brands.2.slug %}" class="h-100">
                <h5>sesderma <br></h5>
                <p>
                 Індивідуальний підхід
                  <strong> </strong>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-warning h-100">
              <a href="{% url 'shop:brand_products' brands.1.slug  %}" class="h-100">
                <h5>medi+<br>derma</h5>
                <p>
                  Допоможемо підібрати
                  <strong></strong>
                </p>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h3 class="text-uppercase">Популярні продукти</h3>
          </div>
        </div>

        <div class="row">
          {% for item in products %}
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <a href="{{ item.get_absolute_url }}"> <img src="{% if item.image %}{% thumbnail item.image 200x100 %}
                     {% endif %}" alt="Image"></a>
            <h4 class="text-dark"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h4>
            <p class="price">{{ item.price }}</p>
          </div>

          {% endfor %}
        </div>
        <div class="row mt-5">
          <div class="col-12 text-center">
            <a href="{% url 'shop:shop' %}" class="btn btn-primary px-4 py-3">Дивитись всі продукти</a>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h3 class="text-uppercase">Новинки</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 owl-carousel">
            {% for item in newest %}

              <div class="text-center item mb-4">
                <a href="{{ item.get_absolute_url }}"> <img src="{{ item.image.url }}" alt="Image"></a>
                <h4 class="text-dark"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h4>
                <p class="price">{{ item.price }}</p>
              </div>
            {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Відгуки</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 no-direction owl-carousel">

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                  <p>&ldquo;Поки відгуків нема, будьте першими.&rdquo;</p>
                </blockquote>

                <p>&mdash; Chat GPT</p>
              </div>

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                  <p>&ldquo;Якби я була живою істотою, я обов'язково купувала би в цьому магазині і всі би мене любили.&rdquo;</p>
                </blockquote>

                <p>&mdash; Сірі</p>
              </div>

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                  <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
                    obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
                    unde.&rdquo;</p>
                </blockquote>

                <p>&mdash; Lucas Gallone</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-secondary bg-image" style="background-image: url({% static 'images/biorevleft2.jpg' %});">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            {% with categories.first as cat %}
            <a href="{% url 'shop:cat_products' cat.slug %}" class="banner-1 h-100 d-flex" style="background-image: url({% static 'images/biorevright.jpg' %});">
              <div class="banner-1-inner align-self-center">
                <h2>{{ cat.name }}</h2>
                <p>{{ cat.description }}
                </p>
              </div>
            </a>
            {% endwith %}
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            {% with categories.last as cat %}
            <a href="{% url 'shop:cat_products' cat.slug %}" class="banner-1 h-100 d-flex" style="background-image: url({% static 'images/biorevleft2.jpg' %});">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>{{ cat.name }}</h2>
                <p>{{ cat.description }}
                </p>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
    {% endwith %}
{% endblock %}