{% extends 'index.html' %}
{% load static %}

{% block title %}
    NataShop | Shop
{% endblock %}

{% block content %}
<!---->

    <div class="site-section">
      <div class="container">
        

        <div class="row">

            {% for item in brands %}
              <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <a href="{{ item.get_absolute_url }}"> <img src="{% if item.image %}{{ item.image.url }}
                                                             {% endif %}" alt="Image"></a>
            <h5 class="text-dark"><a href="{{ item.get_absolute_url }}">{{item.name}}</a></h5>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}
