{% extends 'index.html' %}
{% load static %}
{% load thumbnail %}
{% load nata_shop_tags %}

{% block title %}
    NataShop | Shop
{% endblock %}

{% block content %}
<!---->

    <div class="site-section">
      <div class="container">

        <div class="row">
        {% if products.count > 20 %}
          <div class="col-lg-6">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Фільтр по ціні</h3>
            <div id="slider-range" class="border-primary"></div>
            <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
          </div>
          <div class="col-lg-6">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Сортування</h3>
            <button type="button" class="btn btn-secondary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
              data-toggle="dropdown">Reference</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
              <a class="dropdown-item" href="{% url 'shop:shop_sort' 1 %}">Від A до Я</a>
              <a class="dropdown-item" href="{% url 'shop:shop_sort' 2 %}">Від Я до A</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'shop:shop_sort' 3 %}">Від дешевих до дорогих</a>
              <a class="dropdown-item" href="{% url 'shop:shop_sort' 4 %}">Від дорогих до дешевих</a>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="row">

        {% for item in products %}
          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <a href="{{ item.get_absolute_url }}"> <img src="{% if item.image %}{% thumbnail item.image 200x100 %}
                     {% endif %}" alt="Image"></a>
            <h5 class="text-dark"><a href="{{ item.get_absolute_url }}">{{item.name}}</a></h5>
            <p class="price"> &#8372; {{item.price}}</p>
          </div>
        {% endfor %}
    </div>
      {% if products.count > 20 %}
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
      </div>
    </div>


{% endblock %}
